citrination-client
dlhub_sdk
foundry-ml
globus_nexus_client
globus_sdk
matminer
matplotlib
mdf_forge
mdf-toolbox
numpy
openpyxl
pandas
pathos
pymatgen
pyyaml==5.4.1
scikit-learn
scikit-optimize
scikit-learn-extra
scipy
shap
sphinx-automodapi
statsmodels
