citrination-client
foundry-ml
matminer
matplotlib
mdf_forge
mdf-toolbox
numpy==1.26.4 #scikit-learn-extra doesn't work with numpy >= 2
openpyxl
pandas
pathos
pykan==0.0.5
pymatgen
pyyaml>=5.4.1
scikit-learn
scikit-optimize
scikit-learn-extra
scipy
shap
sphinx-automodapi
statsmodels
