citrination-client
dlhub_sdk
globus_nexus_client
globus_sdk
keras>=2.4.3
matminer
matplotlib
mdf_forge
mdf-toolbox
numpy
openpyxl
pandas
pymatgen<=2021.3.9
tensorflow>=2.4.1
scikit-learn
scikit-optimize
scipy
sphinx-automodapi